/apsys.casino.dominio.testing/bin
/apsys.casino.dominio.testing/obj
/apsys.casino.dominio/bin
/apsys.casino.dominio/obj
/apsys.casino.web.api/bin
/apsys.casino.web.api/obj
/apsys.casino.webapi/bin
/apsys.casino.webapi/obj


